# dependencies
node_modules
.yarn/cache
.pnp.*
# next build outputs
.next
out
# logs & misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.git
.gitignore
.env*
# এ ভাবে থাকলে env ফাইল  ১০০% ইমেজ এর ভিতরে যাবে ইগনোর হবে না 
# !.env.production
# !.env.example
